.index {
  padding: 10px;
  background-color: #2A333C;
  min-height: 100%;
  position: absolute;
  box-sizing: border-box;
  .header {
    .title {
      font-size: 30px;
      color: #fff;
      text-align: center;
      padding-top: 15px;
    }
  }
  .main-content {
    margin: 40px 0;
    .content-item {
      height: 115px;
      width: 100%;
      background-color: lightgray;
      box-sizing: border-box;
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;
      border-radius: 5px;
      .content-left {
        width: 75%;
        flex: 0 1 auto;
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .top {
          display: flex;
          justify-content: space-between;
          line-height: 20px;
          .update {
            font-size: 13px;
          }
          .plugin-title {
            font-size: 20px;
          }
        }
        .bottom {
          .plugin-desc {
            font-size: 16px;
            margin-top: 10px;
            line-height: 1.3;
            word-break: break-all;
            color: #333;
          }
        }
      }
      .content-right {
        width: 25%;
        flex: 0 1 auto;
        margin-left: 10px;
        padding: 5px 10px 5px 5px;
        .plugin-demo-img {
          height: 100%;
          float: right;
          & img {
            width: 90%;
            height: 100%;
            float: right;
          }
        }
      }
    }
  }
  .coypright {
    position: absolute;
    bottom: 10px;
    color: #FBFBFB;
    left: 0;
    right: 0;
    margin: auto;
  }
}
