.touchmove-container {
    position: relative;
    height: 100%;
    width: 100%;
    .main-content {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        background: #2B3A42;
        .menu {
            height: 24px;
            width: 24px;
            background: url('../../static/touchmove/menu.svg') center no-repeat;
            background-size: 24px 18px;
            padding: 14px 16px; 
        }
        .title {
            color: #fff;
            text-align: center;
        }
    }
    .left-content {
        position: fixed;
        width: 150px;
        height: 100vh;
        background-color: #55A7DD;
        transform: translate3D(calc(-100%), 0, 0);
        transition: all 500ms cubic-bezier(0.23, 1, 0.32, 1);
        z-index: 100;
    }
    .left-content-show {
        transform: translate3D(0, 0, 0);
    }
    .right-content {
        position: fixed;
        width: 100px;
        height: 100vh;
        right: 0;
        background-color: #75AFCC;
        transition: all 500ms cubic-bezier(0.23, 1, 0.32, 1);
        transform: translate3D(calc(100%), 0, 0);
        z-index: 100;
    }
    .right-content-show {
        transform: translate3D(calc(1%), 0, 0);
    }
    .mask {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.3)
    }
}